<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-us">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ site.title }}</title>
    <link rel="stylesheet" href="{{ site.asseturl }}/css/style.css" />
    <link rel="stylesheet" href="{{ site.asseturl }}/css/custom.css" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />
    <meta property="og:title" content="{{ site.title }}" />
    <meta
      property="og:description"
      content="{{ page.description || site.description }}"
    />
    <meta property="og:url" content="{{ page.url || site.url }}" />
    <meta property="og:site_name" content="{{ site.title }}" />
    <meta property="og:image" content="{{ page.image || site.image }}" />
  </head>
  <body>
    <section class="section">
      <div class="container">
        <nav class="nav">
          <div class="nav-left col-12 col-md-6">
            <a class="text-decoration-none" href="{{ site.url }}">
              <h1>
                <img
                  src="{{ site.asseturl }}/favicon-32x32.png"
                  style="
                    border-radius: 20px;
                    vertical-align: middle;
                    margin: 5px;
                    margin-top: 0px;
                  "
                />
                {{ site.title }}
              </h1>
            </a>
          </div>
          <div class="nav-right col-12 col-md-6">
            <nav class="nav-item level is-mobile">
              <b>
                <a
                  class="level-item"
                  aria-label="Work"
                  href="{{site.url}}/#work-section"
                >
                  Work
                </a>
                <a
                  class="level-item"
                  aria-label="Writing"
                  href="{{site.url}}/#writing-section"
                >
                  Writing
                </a>
                <a
                  class="level-item"
                  aria-label="Contact"
                  href="{{site.url}}/#contact-section"
                >
                  Contact
                </a>
              </b>
            </nav>
          </div>
        </nav>
      </div>
    </section>
  </body>
</html>
