body {
  max-width: 850px !important;
  margin: 0 auto !important;
}

article div.content {
  display: none !important;
}

article {
  display: flex;
  margin-top: 0px !important;
}

img {
  max-height: 500px !important;
}

h1,
h2,
h3,
h4,
h5 {
  color: #444444 !important;
  font-weight: 600 !important;
}

h1 {
  font-size: 1rem;
}

h2 {
  font-size: 2rem;
}

.title {
  font-weight: 600;
}

.tags {
  display: none !important;
}

.strike-header {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blog-shadows {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.highlight {
  padding: 20px !important;
  background-color: #272922;
}

.content p,
li {
  font-family: serif !important;
}

.flex {
  display: flex;
  flex-direction: row;
}

/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 800px) {
  .flex {
    flex-direction: column;
  }
}

.portfolio-item {
  border-bottom: 1px solid #efefef;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.portfolio-pane {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.btn {
  padding: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid skyblue;
  margin-top: 40px !important;
  border-radius: 8px;
  transition: 400ms;
}

.btn:hover {
  background-color: rgb(201, 224, 233);
  color: white;
}
