body{
  max-width: 850px !important;
  margin: 0 auto !important;
}

article div.content {
  display: none !important; 
}

article {
  display: flex;
  margin-top: 0px !important;
}


.section .container :not(.content) h1, h2{
  margin-top: 0px;
  font-size: 1.1rem;
}



img{
  max-height: 500px !important;
}


.content h1, h2, h3, h4, h5{
  color: #444444 !important;
}


.title{
  font-weight: 600;
}


.tags{
  display: none !important;
}


.strike-header {
  flex: 1;
  text-align: center;
}

.blog-shadows {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

code {
  font-size: 1rem !important;
  padding: 40px !important;
}