{{ partial "header" . }}
{{ partial "nav" . }}


<div style="margin-left: 20px; margin-right: 20px">
  <span >
    Hi! I'm Niko. I'm a full-stack software developer in San Francisco. I surf in my free time, studied at ETH Zurich in Switzerland (where I'm originally from), and if you want to, you can contact me <a href="#contact-section">here</a>.</span>
</div>


<section class="section">
  <div class="container">

    <div class="row" style="display: flex">
      <hr style="flex: 1" />
      <h4 id="work-section" class="strike-header"><span>Selected Software Work</span></h4>
      <hr style="flex: 1" />
    </div>

    <br />

    <!-- 1 -->
    <div class="row ">

        <div class="col-12 col-md-6 order-md-12" style="display: flex">
          <div style="align-self: center">
              <img class="parallax" src="/projects/demo_energylollipop.gif" alt="">
          </div>
        </div>

        <div class="col-12 col-md-6" style="display: flex">
          <div style="align-self: center ">
            <div style="display: flex"><h2><bold>Energy Lollipop</bold></h2><span style="margin: 10px">(Extension, Full-Stack)</span></div>
            <p style="color: #555555">
              +PG&E data integration&nbsp;&nbsp;&nbsp;&nbsp;
              +React App / Extension&nbsp;&nbsp;&nbsp;&nbsp;
              +Node.js / Express.js backend&nbsp;&nbsp;&nbsp;&nbsp;
              +Postgres storage&nbsp;&nbsp;&nbsp;&nbsp;
              +Running on Heroku&nbsp;&nbsp;&nbsp;&nbsp;
            </p>

            <p >♜ <strong>Challenge:</strong> Simplify climate-change into a single number. See your office or home emissions and influence it in a real-time feedback loop with gamification elements.</p>
            <p >⚑ <strong>Solution:</strong> Combining real-time data from the PG&E Smartmeter API and CAISO, we constructed a real-time figure for your personal or office emissions in a friendly form.</p>
            <a class="btn btn-outline-primary" href="http://energylollipop.com">Website</a>
            <a class="btn btn-outline-disabled disabled" href="">Github on request</a>
          </div>
        </div>


    </div>

    <br />
    <hr />
    <br />

    <!-- 4 -->
    <div class="row">
      <div class="col-12 col-md-6" style="display: flex">
          <img class="parallax blog-shadows" style="margin: auto; border-radius: 3px;" src="/projects/demo_classalog.gif" alt="">
      </div>

      <div class="col-12 col-md-6" style="display: flex">
        <div style="align-self: center">

          <div style="display: flex"><h2><bold>Classalog</bold></h2><span style="margin: 10px">(Marketplace, Full-Stack)</span></div>
          <p style="color: #555555">
            +Marketplace for Classes&nbsp;&nbsp;&nbsp;&nbsp;
            +React / Next.js with server-side rendering for SEO&nbsp;&nbsp;&nbsp;&nbsp;
            +"Serverless" Cloud Functions&nbsp;&nbsp;&nbsp;&nbsp;
            +Firebase storage&nbsp;&nbsp;&nbsp;&nbsp;
            +Running on Zeit Now&nbsp;&nbsp;&nbsp;&nbsp;
          </b></p>

          <p >♜ <strong>Challenge:</strong> Lead transition of existing code base to Server Side Rendered App, integrated with team, and shipped new features while re-factoring and testing continuously. </p>
          <a class="btn btn-outline-primary" href="https://classalog.org">Website</a>
          <a class="btn btn-outline-disabled disabled" href="">Github on request</a>
        </div>
      </div>
    </div>

    <br />
    <hr />
    <br />

    <!-- 3 -->
    <div class="row">

        <div class="col-12 col-md-6 order-md-12" style="display: flex">
            <div style="align-self: center ">
              <img class="parallax blog-shadows" src="/projects/demo_assemble.gif" alt="">
            </div>
        </div>

        <div class="col-12 col-md-6" style="display: flex">
          <div style="align-self: center">
            <div style="display: flex"><h2><bold>Assemble</bold></h2><span style="margin: 10px">(Real-Time Collab, Full-Stack)</span></div>
            <p style="color: #555555">
              +Real-Time Collaboration for Meetings&nbsp;&nbsp;&nbsp;&nbsp;
              +React.js / Typescript web app&nbsp;&nbsp;&nbsp;&nbsp;
              +Node.js / Express.js backend&nbsp;&nbsp;&nbsp;&nbsp;
              +Sockets.io&nbsp;&nbsp;&nbsp;&nbsp;
              +Postgres store&nbsp;&nbsp;&nbsp;&nbsp;
              +Running on AWS Elastic Beanstalk&nbsp;&nbsp;&nbsp;&nbsp;
            </p>

            <p >♜ <strong>Challenge:</strong> Real-time collaboration for business meetings, this project was built from scratch. Solved all multi-user edge cases for this B2B Saas startup's MVP.</p>
            <p >⚑ <strong>Solution:</strong> Using YJS to synchronize clients through "conflict-free replicated data types", customized to our purposes, we devised solutions to all edge cases in synchronous editing of documents and pulling structured data from them.</p>
            <a class="btn btn-outline-primary" href="https://www.assemble.works">Website</a>
            <a class="btn btn-outline-disabled disabled" href="">Github on request</a>
          </div>
        </div>

    </div>


    <br />
    <hr />
    <br />

    <!-- 4 -->
    <!-- <div class="row">
      <div class="col-12 col-md-6" style="display: flex">
          <img class="parallax" style="margin: auto;" src="/projects/demo_electrade.gif" alt="">
      </div>

      <div class="col-12 col-md-6" style="display: flex">
        <div style="align-self: center">
          <div style="display: flex"><h2><bold>Electrade</bold></h2><span style="margin: 10px">(Mobile, Full-Stack)</span></div>
          <p style="color: #555555">
            +Platform for EVs&nbsp;&nbsp;&nbsp;&nbsp;
            +React Native on iOS & Android&nbsp;&nbsp;&nbsp;&nbsp;
            +Node.js / Express.js&nbsp;&nbsp;&nbsp;&nbsp;
            +Postgres&nbsp;&nbsp;&nbsp;&nbsp;
            +Stripe&nbsp;&nbsp;&nbsp;&nbsp;
            +AWS S3 Photo Upload
          </b></p>

          <p >♜ <strong>Challenge:</strong> Mobile Marketplace for Electric Vehicle Leasing and Trading. Large, complex app with Stripe integration, photo upload and async operations</p>
          <p >⚑ <strong>Solution:</strong> A simple app structure was shipped to multiple platforms and iterated on daily.</p>
          <a class="btn btn-outline-primary" href="https://apple.co/2wTOYTX">App Store</a>
          <a class="btn btn-outline-primary" href="https://bit.ly/2KjmICI">Google Play</a>
          <a class="btn btn-outline-primary" href="https://github.com/nikodunk/electrify-app">Github</a>
        </div>
      </div>
    </div>

    <br />

    <br /> -->






  </div>
</section>


<section class="section">
  <div class="container">
    <div class="row" style="display: flex">
      <hr style="flex: 1" />
      <h4 id="writing-section" class="strike-header"><span>Writing</span></h4>
      <hr style="flex: 1" />
    </div>
  </div>

  <br />

  <div class="container">
    {{ $paginator := .Paginate (where .Pages "Params.hidden" "ne" true) }}
    {{ range sort .Paginator.Pages }}
    <article class="row" style="margin-bottom: 8px">
      <div class="col-3">
        <h6 style="color: #555555" class="">{{ .Date.Format "January 2, 2006" }}</h6>
      </div>
      <div class="col-9">
        <h5 class=""><a style="color: #333333" href="{{ .Permalink }}">{{ .Title }}</a>{{ if .Draft }} ::Draft{{ end }}</h5>
      </div>
    </article>
    {{ end }}
  </div>
</section>
{{ partial "pager" . }}
{{ partial "footer" . }}

<script src="https://cdn.jsdelivr.net/npm/simple-parallax-js@5.0.2/dist/simpleParallax.min.js"></script>

<script>
  var image = document.getElementsByClassName('parallax');
  new simpleParallax(image, {
    overflow: true
  });
</script>
