{{ define "main" -}}
<div class="posts">
{{ range .Data.Pages -}}
<div class="post" style="display: flex;">
  <div style="flex: .2">

    <img src="{{ .Params.image }}" style="max-height: 200px; max-width: 100%; padding-right: 10px"/>
  </div>
  <div style="flex: .8">
    <h1 class="post-title">
      <a href="{{ .Permalink }}">{{ .Title }}</a>
    </h1>
    <span class="post-date">{{ .Date.Format "Mon, Jan 2, 2006" }}</span>
    {{ .Summary }}
    {{ if .Truncated }}
    <div class="read-more-link">
      <a href="{{ .RelPermalink }}">Read More…</a>
    </div>
  <hr >
  </div>
  {{ end }}
</div>
{{- end }}
</div>
{{- end }}